.whole {
    background: rgb(244, 227, 207);
}

.container {
    max-width: 100%;
    background: #5A2D0C;
    color: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #5A2D0C;
    margin-bottom: 20px;
}

.center-element{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #5A2D0C;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: beige;
    color: rgba(109, 47, 47, 0.433);
}

.section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section h2 {
    color: #5A2D0C; 
    border-bottom: 3px solid #5A2D0C; 
    padding-bottom: 5px;
    text-align: center;
}

.section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

.section p strong {
    display: block;
    font-size: 18px;
    color: #5A2D0C; 
    margin-top: 15px;
}