#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* App.css */

body {
  background-size: cover;
  font-family: 'Kaisei Decol', serif; 
  color: #2d1c0d;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  color: #CACFDD;
}

button {
  display: inline-block;
  margin: 1rem;
  padding: 0.75rem 2rem;
  background: #3BAC5F;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background: #B67DC9;
}

input, select {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid #CB9ADE;
  border-radius: 5px;
  background: #fff9f0;
  color: black;
}

.container {
  background: #505F8D;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 800px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border: 5px solid #8E3542;
}

.song-result {
  display: flex;
  align-items: center;
  background: #F7E8F5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}